
body{
     background-image: url(light-pollution-city-lights.jpg);
     background-size: cover;
     background-repeat: no-repeat;
}
#room1{
     
     color:black;
     padding:10px;
     border-width: 1px;
     border-radius: 25px;
     width:25vw;
     height: 35vh;
     background-image: url(kinako-chichi-dango.jpg);
     background-size:"cover";
    float:left;
     
}
#head{
     color: antiquewhite;
     margin-left:40%;
}
#fooditem1{
     padding: 10px;
}#fooditem2{
     padding: 10px;
}#fooditem3{
     padding: 10px;
}#fooditem4{
     padding: 10px;
}#fooditem5{
     padding: 10px;
}#fooditem6{
     padding: 10px;
}
#statusbar1{
     font-weight: bold;
     font-size: 25px;
}#room2{
     
     color:black;
     padding:15px;
     border-width: 1px;
     border-radius: 25px;
      width:25vw;
     height: 35vh;
     background-image: url(katakuriko-chichi-dango.jpg);
     background-size:"cover";
     float:left;
   
}
#foodDesc1{
     font-weight:bold;
}#foodDesc2{
     font-weight:bold;
}#foodDesc3{
     font-weight:bold;
}#foodDesc4{
     font-weight:bold;
}#foodDesc5{
     font-weight:bold;
}#foodDesc6{
     font-weight:bold;
}
#statusbar2{
     font-weight: bold;
     font-size: 25px;}
     #room3{
         
          color:black;
          padding:15px;
          border-width: 1px;
          border-radius: 25px;
         width:25vw;
     height: 35vh;
          background-image: url(udon.jpg);
          background-size:"cover";
         float:left;
     }
     #statusbar3{
          font-weight: bold;
          font-size: 25px;
     }
     #room4{
          
          color:black;
          padding:15px;
          border-width: 1px;
          border-radius: 25px;
          width:25vw;
     height: 35vh;
          background-image: url(ramen.jpg);
          background-size:"cover";
           float:left;
     }
     #statusbar4{
          font-weight: bold;
          font-size: 25px;
     }
     #room5{
          color:black;
          padding:15px;
          border-width: 1px;
          border-radius: 25px;
           width:25vw;
     height: 35vh;
          background-image: url(tonkatsu.jpg);
        float:left;
          background-size:"cover";
     }
     #statusbar5{
          font-weight: bold;
          font-size: 25px;
     }
     #room6{
         
          color:black;
          padding:15px;
          border-width: 1px;
          border-radius: 25px;
           width:25vw;
     height: 35vh;
          background-image: url(Katsu-Curry.jpg);
          background-size:"cover";
         float:left;

     }
     #statusbar6{
          font-weight: bold;
          font-size: 25px;
     }
