body{
     background-image: url(light-pollution-city-lights.jpg);
     background-size: cover;
     background-repeat: no-repeat;
}
#room1{
     color:black;
     padding:10px;
     border-width: 1px;
     border-radius: 25px;
     width: 35vw;
     height: 30vh;
     background-image: url(kinako-chichi-dango.jpg);
     margin-left:2%;
}
#head{
     color: antiquewhite;
     margin-left:40%;
}
#fooditem1{
     padding: 10px;
}#fooditem2{
     padding: 10px;
}#fooditem3{
     padding: 10px;
}#fooditem4{
     padding: 10px;
}#fooditem5{
     padding: 10px;
}#fooditem6{
     padding: 10px;
}
#statusbar1{
     font-weight: bold;
     font-size: 25px;
}#room2{
     color:black;
     padding:15px;
     border-width: 1px;
     border-radius: 25px;
     width: 35vw;
     height:29vh;
     background-image: url(katakuriko-chichi-dango.jpg);
     margin-left:40%;
     margin-top:-16.5%;
   
}
#foodDesc1{
     font-weight:bold;
}#foodDesc2{
     font-weight:bold;
}#foodDesc3{
     font-weight:bold;
}#foodDesc4{
     font-weight:bold;
}#foodDesc5{
     font-weight:bold;
}#foodDesc6{
     font-weight:bold;
}
#statusbar2{
     font-weight: bold;
     font-size: 25px;}
     #room3{
          color:black;
          padding:15px;
          border-width: 1px;
          border-radius: 25px;
          width: 35vw;
          height: 30vh;
          background-image: url(udon.jpg);
          margin-left:-110%;
         margin-top:25%;
     }
     #statusbar3{
          font-weight: bold;
          font-size: 25px;
     }
     #room4{
          color:black;
          padding:15px;
          border-width: 1px;
          border-radius: 25px;
          width: 35vw;
          height:30vh;
          background-image: url(ramen.jpg);
          margin-left: 105%;
          margin-top: -29%;
     }
     #statusbar4{
          font-weight: bold;
          font-size: 25px;
     }
     #room5{
          color:black;
          padding:15px;
          border-width: 1px;
          border-radius: 25px;
          width: 35vw;
          height: 30vh;
          background-image: url(tonkatsu.jpg);
         margin-left:-110%;
         margin-top:23.2%;
     }
     #statusbar5{
          font-weight: bold;
          font-size: 25px;
     }
     #room6{
          color:black;
          padding:15px;
          border-width: 1px;
          border-radius: 25px;
          width: 35vw;
          height:30vh;
          background-image: url(Katsu-Curry.jpg);
          margin-top:-29%;
          margin-left:105%;
        

     }
     #statusbar6{
          font-weight: bold;
          font-size: 25px;
     }
